<script>
    document.querySelector('#year').innerHTML = new Date().getFullYear();
  </script>
  <script src="js/navigation.js"></script>
  <script src="js/appear.js"></script>
  <noscript>This website is based on JavaScript. You don't support JavaScript therefore cannot continue.</noscript>
</body>
</html>