<div class="footer bg-dark">
  <div class="wrapper flex">
    <section class="description">
      <img src="Images/logo.svg" alt="Logo of Strax Designs" class="logo" />
      <p class="text-small">
        Strax Designs offers you the most modern
        <a href="web-design">websites</a> and
        <a href="graphic-design">graphic designs</a> following the latest trends
        that will put your business above all your competition. Check out our
        <a href="projects">Portfolio</a> to see some of our latest projects and
        <a href="order-a-project">Order a Project</a> now!
      </p>
    </section>
    <section class="site-nav">
      <h3>Site Map</h3>
      <ul class="site-nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="web-design">Web Design</a></li>
        <li><a href="graphic-design">Graphic Design</a></li>
        <li><a href="nbo">NBO</a></li>
        <li><a href="order-a-project">Order a Project</a></li>
        <li><a href="projects">Projects</a></li>
        <li><a href="terms-of-use">Terms of Use</a></li>
      </ul>
    </section>
  </div>
</div>

<div class="copyright bg-dark">
  <div class="wrapper">
    <p><span id="year"></span> &copy; Strax Designs</p>
  </div>
</div>
