<div class="footer bg-dark">
  <div class="wrapper flex">
    <section class="description">
      <img src="Images/logo.svg" alt="Logo of Strax Designs" class="logo" />
      <p class="text-small">
        Strax Designs offers you the most modern
        <a href="web-design">websites</a> and
        <a href="graphic-design">graphic designs</a> following the latest trends
        that will put your business above all your competition. Check out our
        <a href="projects">Portfolio</a> to see some of our latest projects and
        <a href="order-a-project">Order a Project</a> now!
      </p>
      <div class="social-media">
        <a href="https://www.instagram.com/strax_designs/" target="_blank"
          ><img
            src="Images/instagram.png"
            alt="Instagram Logo"
            class="social-media-icon"
        /></a>
        <a href="https://www.facebook.com/straxdesigns" target="_blank"
          ><img
            src="Images/facebook.png"
            alt="Facebook Logo"
            class="social-media-icon"
        /></a>
      </div>
    </section>
    <section class="site-nav">
      <h3>Site Map</h3>
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="web-design">
          <li>Web Design</li>
        </a>
        <a href="graphic-design">
          <li>Graphic Design</li>
        </a>
        <a href="nbo">
          <li>NBO</li>
        </a>
        <a href="order-a-project">
          <li>Order a Project</li>
        </a>
        <a href="projects">
          <li>Projects</li>
        </a>
        <a href="terms-of-use">
          <li>Terms Of Use</li>
        </a>
      </ul>
    </section>
  </div>
</div>

<div class="copyright bg-dark">
  <div class="wrapper">
    <p><span id="year"></span> &copy; Strax Designs</p>
  </div>
</div>
