<div class="navigation">
  <button id="nav-toggle" class="nav-toggle" aria-label="Open Navigation">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </button>

  <nav id="nav" class="nav" opened="false">
    <button id="nav-close" class="nav-close">&#10005;</button>

    <a href="/" class="nav-link">
      <div class="nav-item font-300">
        <img src="Images/nav/home.svg" alt="home icon" />
        <p>Home</p>
      </div>
    </a>
    <a href="web-design" class="nav-link">
      <div class="nav-item font-300">
        <img src="Images/nav/cloud.svg" alt="cloud icon" />
        <p>Web Design</p>
      </div>
    </a>
    <a href="graphic-design" class="nav-link">
      <div class="nav-item font-300">
        <img src="Images/nav/graphic-design.svg" alt="mountain icon" />
        <p>Graphic Design</p>
      </div>
    </a>
    <a href="nbo" class="nav-link">
      <div class="nav-item font-300">
        <img src="Images/nav/light-bulb.svg" alt="light bulb icon" />
        <p>New Business Offer</p>
      </div>
    </a>
    <a href="order-a-project" class="nav-link">
      <div class="nav-item font-300">
        <img src="Images/nav/shop.svg" alt="shopping cart icon" />
        <p>Order a Project</p>
      </div>
    </a>
    <a href="projects" class="nav-link">
      <div class="nav-item font-300">
        <img src="Images/nav/search.svg" alt="search icon" />
        <p>Projects</p>
      </div>
    </a>
  </nav>
</div>
