<%- include('partials/header.ejs') %> <%- include('partials/navigation.ejs') %>

<div class="landing-page">
  <div class="main-area">
    <div class="hero">
      <h1 class="sub-heading fade-in">The Future is Now!</h1>
      <p class="font-300 fade-in">
        The most modern websites and graphic designs for you and your business.
        Uniqueness is our Responsibility.
      </p>
      <a href="order-a-project" class="btn btn-primary fade-in"
        >Order a Project</a
      >
    </div>
    <svg
      class="svg landing-page-svg fade-in"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 1373 617"
      style="enable-background: new 0 0 1373 617"
      xml:space="preserve"
    >
      <style type="text/css">
        .st0 {
          fill: none;
          stroke: #1e1e21;
          stroke-width: 6.4086;
          stroke-miterlimit: 10;
        }
        .st1 {
          fill: none;
          stroke: #1e1e21;
          stroke-width: 5.1658;
          stroke-miterlimit: 10;
        }
        .st2 {
          fill: none;
          stroke: #1e1e21;
          stroke-width: 6.5242;
          stroke-miterlimit: 10;
        }
        .st3 {
          fill: #1e1e21;
        }
        .st4 {
          enable-background: new;
        }
        .st5 {
          clip-path: url(#SVGID_2_);
          enable-background: new;
        }
        .st6 {
          fill: #8a8a8c;
        }
        .st7 {
          clip-path: url(#SVGID_4_);
          enable-background: new;
        }
        .st8 {
          clip-path: url(#SVGID_6_);
          enable-background: new;
        }
        .st9 {
          fill: #8d8d8f;
        }
        .st10 {
          fill: #8c8c8e;
        }
        .st11 {
          clip-path: url(#SVGID_8_);
          enable-background: new;
        }
        .st12 {
          fill: #1f1f22;
        }
        .st13 {
          fill: url(#SVGID_9_);
        }
        .st14 {
          clip-path: url(#SVGID_11_);
          enable-background: new;
        }
        .st15 {
          fill: #868687;
        }
        .st16 {
          clip-path: url(#SVGID_13_);
          enable-background: new;
        }
        .st17 {
          clip-path: url(#SVGID_15_);
          enable-background: new;
        }
        .st18 {
          fill: #858586;
        }
        .st19 {
          fill: #818182;
        }
        .st20 {
          clip-path: url(#SVGID_17_);
          enable-background: new;
        }
        .st21 {
          fill: #818183;
        }
        .st22 {
          fill: #232326;
        }
        .st23 {
          fill: url(#SVGID_18_);
        }
        .st24 {
          fill: url(#SVGID_19_);
        }
        .st25 {
          clip-path: url(#SVGID_21_);
          enable-background: new;
        }
        .st26 {
          clip-path: url(#SVGID_23_);
          enable-background: new;
        }
        .st27 {
          clip-path: url(#SVGID_25_);
          enable-background: new;
        }
        .st28 {
          fill: #878789;
        }
        .st29 {
          fill: #8e8e90;
        }
        .st30 {
          clip-path: url(#SVGID_27_);
          enable-background: new;
        }
        .st31 {
          fill: none;
          stroke: url(#SVGID_28_);
          stroke-width: 3.8137;
          stroke-miterlimit: 10;
        }
        .st32 {
          fill: none;
          stroke: url(#SVGID_29_);
          stroke-width: 4.0218;
          stroke-miterlimit: 10;
        }
        .st33 {
          fill: none;
          stroke: url(#SVGID_30_);
          stroke-width: 4.0218;
          stroke-miterlimit: 10;
        }
        .st34 {
          fill: none;
          stroke: url(#SVGID_31_);
          stroke-width: 4.0218;
          stroke-miterlimit: 10;
        }
        .st35 {
          fill: none;
          stroke: url(#SVGID_32_);
          stroke-width: 4.0218;
          stroke-miterlimit: 10;
        }
        .st36 {
          fill: none;
          stroke: url(#SVGID_33_);
          stroke-width: 4.0218;
          stroke-miterlimit: 10;
        }
        .st37 {
          fill: none;
          stroke: url(#SVGID_34_);
          stroke-width: 4.0218;
          stroke-miterlimit: 10;
        }
        .st38 {
          fill: none;
          stroke: url(#SVGID_35_);
          stroke-width: 4.0218;
          stroke-miterlimit: 10;
        }
        .st39 {
          fill: #0b0b0c;
        }
        .st40 {
          fill: #2e2e30;
        }
        .st41 {
          clip-path: url(#SVGID_37_);
          enable-background: new;
        }
        .st42 {
          fill: #320c57;
        }
        .st43 {
          fill: #2e0c50;
        }
        .st44 {
          fill: #2f0c53;
        }
        .st45 {
          clip-path: url(#SVGID_39_);
          enable-background: new;
        }
        .st46 {
          clip-path: url(#SVGID_41_);
          enable-background: new;
        }
        .st47 {
          clip-path: url(#SVGID_43_);
          enable-background: new;
        }
        .st48 {
          clip-path: url(#SVGID_45_);
          enable-background: new;
        }
        .st49 {
          clip-path: url(#SVGID_47_);
          enable-background: new;
        }
        .st50 {
          fill: #8a23f2;
        }
        .st51 {
          clip-path: url(#SVGID_49_);
          enable-background: new;
        }
        .st52 {
          clip-path: url(#SVGID_51_);
          enable-background: new;
        }
        .st53 {
          fill: url(#dolen_del_1_);
          stroke: #000000;
          stroke-width: 0.8235;
          stroke-miterlimit: 10;
        }
        .st54 {
          fill: url(#goren_del_1_);
          stroke: #000000;
          stroke-width: 0.8235;
          stroke-miterlimit: 10;
        }
        .st55 {
          fill: none;
          stroke: #000000;
          stroke-width: 0.8235;
          stroke-miterlimit: 10;
        }
        .st56 {
          fill: url(#paint_1_);
        }
        .st57 {
          fill: url(#racka_1_);
          stroke: #000000;
          stroke-width: 0.8235;
          stroke-miterlimit: 10;
        }
        .st58 {
          clip-path: url(#SVGID_53_);
          enable-background: new;
        }
        .st59 {
          fill: #df9225;
        }
        .st60 {
          clip-path: url(#SVGID_55_);
          enable-background: new;
        }
        .st61 {
          clip-path: url(#SVGID_57_);
          enable-background: new;
        }
        .st62 {
          clip-path: url(#SVGID_59_);
          enable-background: new;
        }
        .st63 {
          clip-path: url(#SVGID_61_);
          enable-background: new;
        }
        .st64 {
          fill: #e09326;
        }
        .st65 {
          fill: #e19426;
        }
        .st66 {
          fill: #f8a62c;
        }
      </style>
      <g id="lines_1_">
        <g id="lines">
          <polyline class="st0" points="741,110 739,324 492.9,321.1 		" />
          <polyline class="st1" points="1277.5,340 1275,588 724.5,582.1 		" />
          <polyline class="st2" points="968.5,207 966,435.9 309.6,431 		" />
          <g>
            <path
              class="st3"
              d="M727.6,437.7c-11.5,0.8-23,1-34.4,1.1c-11.5,0.1-22.9-0.4-34.4-0.7l-34.4-0.8l-34.4-1l0-0.3l34.4-0.3
				l34.4-0.1c11.5,0,22.9-0.3,34.4,0c11.5,0.3,22.9,0.8,34.4,1.8L727.6,437.7z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M933.2,443.4c-5.8,0.6-11.6,0.8-17.3,0.9c-5.8,0.1-11.5-0.3-17.3-0.4l-17.3-0.6l-17.3-0.7l0-0.2l17.3-0.3
				l17.3-0.2c5.8,0,11.6-0.3,17.3-0.1c5.8,0.2,11.5,0.6,17.3,1.3L933.2,443.4z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M1230.6,600.2c-10.2,0.8-20.5,1-30.7,1.1c-10.2,0.1-20.5-0.4-30.7-0.6l-30.7-0.8l-30.7-1l0-0.3l30.7-0.3
				l30.7-0.2c10.2,0,20.5-0.3,30.7,0c10.2,0.3,20.5,0.8,30.7,1.8L1230.6,600.2z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M529.6,423.9c-6.4,0.4-12.8,0.7-19.2,0.9c-6.4,0.2-12.8,0.3-19.1,0.3l-9.6,0l-9.6-0.2l-19.1-0.5l-38.3-0.9
				l-38.3-1.1l0-0.4l38.3-0.3l38.3-0.1l19.1-0.1l9.6,0l9.6,0.2c6.4,0.2,12.8,0.4,19.1,0.7c6.4,0.3,12.8,0.7,19.1,1.3L529.6,423.9z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M726.2,249.7c0.1,1.4,0.2,2.9,0.3,4.3l0.2,4.3c0.1,2.9,0.2,5.7,0.2,8.6c0.1,5.7-0.2,11.4-0.4,17.1l-0.5,17.1
				l-0.6,17.1l-0.2,0l-0.2-17.2L725,284c0-5.7-0.2-11.4,0-17.2c0.1-2.9,0.2-5.7,0.4-8.6l0.3-4.3c0.1-1.4,0.2-2.9,0.4-4.3
				L726.2,249.7z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M1056.2,582.3c-7.5,0.5-15,0.8-22.5,1c-7.5,0.2-15,0.3-22.5,0.4c-3.8,0-7.5,0-11.3,0l-11.2-0.2l-22.5-0.6
				l-45-1.1l-45-1.3l0-0.4l45-0.4l45-0.1l22.5-0.2l11.3,0c3.7,0,7.5,0.1,11.2,0.2c7.5,0.2,15,0.5,22.5,0.9c7.5,0.4,15,0.9,22.5,1.5
				L1056.2,582.3z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M698.6,332.2c-8.4,0.8-16.7,1-25.1,1.2c-8.4,0.1-16.7-0.4-25.1-0.6l-25.1-0.7l-25.1-0.9l0-0.3l25.1-0.4
				l25.1-0.2c8.4,0,16.7-0.4,25.1-0.1c8.4,0.3,16.7,0.7,25,1.7L698.6,332.2z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M1286.3,461c0.7,7.2,1,14.4,1.1,21.5c0.1,7.2-0.3,14.3-0.5,21.5l-0.7,21.5l-0.8,21.5l-0.3,0l-0.4-21.5
				l-0.2-21.5c-0.1-7.2-0.4-14.3-0.1-21.5c0.3-7.2,0.7-14.3,1.5-21.5L1286.3,461z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M947.1,316.3c0.5,7.3,0.5,14.6,0.6,21.9c0,7.3-0.2,14.6-0.4,21.9l-0.5,21.9l-0.6,21.9l-0.2,0l-0.1-21.9
				l0-21.9c0-7.3-0.2-14.6,0-21.9c0.2-7.3,0.5-14.6,1.1-21.9L947.1,316.3z"
            />
          </g>
          <g>
            <path
              class="st3"
              d="M790.5,427.2c-5.5,0.4-11,0.6-16.5,0.8c-5.5,0.2-11,0.3-16.5,0.3c-11,0.1-22-0.4-33-0.7l-33-0.8l-33-1l0-0.3
				l33-0.3l33-0.1c11,0,22-0.3,33,0c5.5,0.2,11,0.4,16.5,0.7c5.5,0.3,11,0.6,16.5,1.2L790.5,427.2z"
            />
          </g>
        </g>
      </g>
      <g id="tabs">
        <g id="person_tab">
          <g>
            <g>
              <g class="st4">
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_1_"
                      class="st4"
                      d="M795.9,188.4l-2.5,4.3c1.2-2.1,2-5.1,2.1-8.7l2.5-4.3
								C797.9,183.3,797.1,186.3,795.9,188.4z"
                    />
                  </defs>
                  <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_" style="overflow: visible" />
                  </clipPath>
                  <g class="st5">
                    <path
                      class="st6"
                      d="M795.5,183.9l2.5-4.3c-0.1,3.6-0.8,6.6-2.1,8.7l-2.5,4.3C794.6,190.6,795.4,187.6,795.5,183.9"
                    />
                  </g>
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_3_"
                      class="st4"
                      d="M692.9,5.8l2.5-4.3c1.2-2.1,3-3.3,4.9-3.2l-2.5,4.3C695.8,2.5,694.1,3.7,692.9,5.8z"
                    />
                  </defs>
                  <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_" style="overflow: visible" />
                  </clipPath>
                  <g class="st7">
                    <path
                      class="st6"
                      d="M692.9,5.8l2.5-4.3c1.2-2.1,3-3.3,4.9-3.2l-2.5,4.3C695.8,2.5,694.1,3.7,692.9,5.8"
                    />
                  </g>
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_5_"
                      class="st4"
                      d="M697.7,2.6l2.5-4.3c0.5,0,1,0.1,1.5,0.3l-2.5,4.3C698.7,2.7,698.2,2.6,697.7,2.6z"
                    />
                  </defs>
                  <clipPath id="SVGID_6_">
                    <use xlink:href="#SVGID_5_" style="overflow: visible" />
                  </clipPath>
                  <g class="st8">
                    <path
                      class="st6"
                      d="M697.7,2.6l2.5-4.3c0.5,0,1,0.1,1.5,0.3l-2.5,4.3C698.7,2.7,698.2,2.6,697.7,2.6"
                    />
                  </g>
                </g>
                <g>
                  <polygon
                    class="st9"
                    points="797.6,56.9 800.1,52.7 798,179.7 795.5,183.9 						"
                  />
                </g>
                <g>
                  <polygon
                    class="st10"
                    points="699.2,2.9 701.8,-1.4 790.8,32.7 788.3,36.9 						"
                  />
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_7_"
                      class="st4"
                      d="M788.3,36.9l2.5-4.3c5.3,2,9.5,11,9.4,20l-2.5,4.3C797.8,48,793.5,39,788.3,36.9z"
                    />
                  </defs>
                  <clipPath id="SVGID_8_">
                    <use xlink:href="#SVGID_7_" style="overflow: visible" />
                  </clipPath>
                  <g class="st11">
                    <path
                      class="st6"
                      d="M788.3,36.9l2.5-4.3c5.3,2,9.5,11,9.4,20l-2.5,4.3C797.8,48,793.5,39,788.3,36.9"
                    />
                  </g>
                </g>
                <g>
                  <path
                    class="st12"
                    d="M697.7,2.6c0.5,0,1,0.1,1.5,0.3l89,34c5.3,2,9.5,11,9.4,20l-2.2,127c-0.1,7.5-3.3,12.3-7.4,12.1
							c-0.8,0-1.6-0.3-2.5-0.7l-88.8-44.9c-4.5-2.3-8.1-10.9-8-19.1l2-116.6C690.9,7.4,693.9,2.4,697.7,2.6z"
                  />
                </g>
              </g>
            </g>
          </g>
          <g>
            <linearGradient
              id="SVGID_9_"
              gradientUnits="userSpaceOnUse"
              x1="779.3976"
              y1="193.3478"
              x2="704.2626"
              y2="63.2101"
            >
              <stop offset="4.741732e-07" style="stop-color: #faa72c" />
              <stop offset="0.1031" style="stop-color: #f4a038" />
              <stop offset="0.2888" style="stop-color: #e48c57" />
              <stop offset="0.5356" style="stop-color: #c96b8a" />
              <stop offset="0.8308" style="stop-color: #a53fd0" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <path
              class="st13"
              d="M780,193l-80-41c0,0,3.5-30.1,23.2-21.7c12.4,5.3,13.2-9.4,12.6-18.1c-7.4-8.5-12.4-23.5-12.4-38.5
				c0.1-19.8,9.1-32.7,20.4-28.6c11.4,4.2,20.8,24.2,20.7,44.7c-0.1,14.6-4.9,25.2-11.8,28.3c-0.2,9.3,1.4,26.7,14.8,32.8
				C784.8,158.9,780,193,780,193z"
            />
          </g>
        </g>
        <g id="image_tab">
          <g>
            <g>
              <g class="st4">
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_10_"
                      class="st4"
                      d="M1028.7,299l-3.7,2.6c3-2.1,4.9-6.7,4.9-12.9l3.7-2.6
								C1033.7,292.3,1031.8,296.9,1028.7,299z"
                    />
                  </defs>
                  <clipPath id="SVGID_11_">
                    <use xlink:href="#SVGID_10_" style="overflow: visible" />
                  </clipPath>
                  <g class="st14">
                    <path
                      class="st15"
                      d="M1029.9,288.7l3.7-2.6c0,0.2,0,0.5,0,0.7l-3.7,2.6C1029.9,289.2,1029.9,288.9,1029.9,288.7"
                    />
                    <path
                      class="st6"
                      d="M1029.9,289.4l3.7-2.6c-0.1,5.8-1.9,10.1-4.9,12.2l-3.7,2.6C1027.9,299.6,1029.8,295.2,1029.9,289.4"
                    />
                  </g>
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_12_"
                      class="st4"
                      d="M887,69.7l3.7-2.6c1.1-0.8,2.3-1.2,3.7-1.1l-3.7,2.6C889.4,68.6,888.1,69,887,69.7z"
                    />
                  </defs>
                  <clipPath id="SVGID_13_">
                    <use xlink:href="#SVGID_12_" style="overflow: visible" />
                  </clipPath>
                  <g class="st16">
                    <path
                      class="st6"
                      d="M887,69.7l3.7-2.6c1-0.7,2.2-1.1,3.4-1.1l-3.7,2.6C889.2,68.6,888.1,69,887,69.7"
                    />
                    <path
                      class="st15"
                      d="M890.4,68.6l3.7-2.6c0.1,0,0.2,0,0.3,0l-3.7,2.6C890.6,68.6,890.5,68.6,890.4,68.6"
                    />
                  </g>
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_14_"
                      class="st4"
                      d="M890.7,68.6l3.7-2.6c0.7,0,1.5,0.2,2.3,0.4L893,69C892.2,68.7,891.5,68.6,890.7,68.6z"
                    />
                  </defs>
                  <clipPath id="SVGID_15_">
                    <use xlink:href="#SVGID_14_" style="overflow: visible" />
                  </clipPath>
                  <g class="st17">
                    <path
                      class="st15"
                      d="M890.7,68.6l3.7-2.6c0.7,0,1.5,0.2,2.3,0.4L893,69C892.2,68.7,891.5,68.6,890.7,68.6"
                    />
                  </g>
                </g>
                <g>
                  <polygon
                    class="st18"
                    points="1027.7,136.4 1031.5,133.8 1033.6,286.1 1029.9,288.7 						"
                  />
                </g>
                <g>
                  <polygon
                    class="st19"
                    points="893,69 896.8,66.4 1017.9,109.5 1014.2,112.2 						"
                  />
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_16_"
                      class="st4"
                      d="M1014.2,112.2l3.7-2.6c7.3,2.6,13.4,13.5,13.6,24.3l-3.7,2.6
								C1027.6,125.7,1021.4,114.7,1014.2,112.2z"
                    />
                  </defs>
                  <clipPath id="SVGID_17_">
                    <use xlink:href="#SVGID_16_" style="overflow: visible" />
                  </clipPath>
                  <g class="st20">
                    <path
                      class="st15"
                      d="M1014.2,112.2l3.7-2.6c0.6,0.2,1.3,0.5,1.9,0.9l-3.7,2.6C1015.4,112.7,1014.8,112.4,1014.2,112.2"
                    />
                    <path
                      class="st21"
                      d="M1016.1,113l3.7-2.6c2.8,1.6,5.4,4.4,7.4,7.9l-3.7,2.6C1021.4,117.4,1018.9,114.6,1016.1,113"
                    />
                    <path
                      class="st15"
                      d="M1023.4,120.9l3.7-2.6c2.6,4.5,4.2,10,4.3,15.5l-3.7,2.6C1027.7,130.9,1026,125.4,1023.4,120.9"
                    />
                  </g>
                </g>
                <g>
                  <path
                    class="st22"
                    d="M890.7,68.6c0.7,0,1.5,0.2,2.3,0.4l121.1,43.1c7.3,2.6,13.4,13.5,13.6,24.3l2.1,152.3
							c0.1,8.7-3.7,14.2-9.1,14.2c-1.3,0-2.6-0.3-4-1l-121.3-58.2c-6.1-2.9-11.2-13.3-11.3-23l-1.9-137.8
							C882.1,74.3,885.7,68.5,890.7,68.6z"
                  />
                </g>
              </g>
            </g>
          </g>
          <g>
            <linearGradient
              id="SVGID_18_"
              gradientUnits="userSpaceOnUse"
              x1="953.6069"
              y1="297.8427"
              x2="951.8973"
              y2="137.4379"
              gradientTransform="matrix(0.9999 1.065737e-02 -1.065737e-02 0.9999 2.6215 -7.9888)"
            >
              <stop offset="4.741732e-07" style="stop-color: #faa72c" />
              <stop offset="0.1031" style="stop-color: #f4a038" />
              <stop offset="0.2888" style="stop-color: #e48c57" />
              <stop offset="0.5356" style="stop-color: #c96b8a" />
              <stop offset="0.8308" style="stop-color: #a53fd0" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <polygon
              class="st23"
              points="952.9,238.6 976.6,191.7 1013,300 893,243 926.1,139.6 962.3,273.3 			"
            />

            <linearGradient
              id="SVGID_19_"
              gradientUnits="userSpaceOnUse"
              x1="989.2626"
              y1="164.3965"
              x2="988.8598"
              y2="126.6075"
              gradientTransform="matrix(0.9999 1.065737e-02 -1.065737e-02 0.9999 2.6215 -7.9888)"
            >
              <stop offset="4.741732e-07" style="stop-color: #faa72c" />
              <stop offset="0.1031" style="stop-color: #f4a038" />
              <stop offset="0.2888" style="stop-color: #e48c57" />
              <stop offset="0.5356" style="stop-color: #c96b8a" />
              <stop offset="0.8308" style="stop-color: #a53fd0" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <path
              class="st24"
              d="M1002.4,152.7c-0.1,10.2-5.8,16.3-12.7,13.6c-6.8-2.6-12.2-12.9-12.1-22.9c0.1-10,5.7-16.2,12.5-13.7
				C997,132.2,1002.6,142.5,1002.4,152.7z"
            />
          </g>
        </g>
        <g id="shop_tab">
          <g>
            <g>
              <g class="st4">
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_20_"
                      class="st4"
                      d="M1368,454.9l-3.3,2.6c3.4-2.6,5.4-7.4,5.4-13.7l3.3-2.6
								C1373.4,447.5,1371.4,452.3,1368,454.9z"
                    />
                  </defs>
                  <clipPath id="SVGID_21_">
                    <use xlink:href="#SVGID_20_" style="overflow: visible" />
                  </clipPath>
                  <g class="st25">
                    <path
                      class="st6"
                      d="M1370.1,443.8l3.3-2.6c0,1.7-0.1,3.2-0.4,4.7l-3.3,2.6C1370,447,1370.1,445.4,1370.1,443.8"
                    />
                    <path
                      class="st15"
                      d="M1369.7,448.4l3.3-2.6c-0.7,4-2.5,7.1-5,9.1l-3.3,2.6C1367.2,455.6,1369,452.5,1369.7,448.4"
                    />
                  </g>
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_22_"
                      class="st4"
                      d="M1162.3,165.1l3.3-2.6c1.8-1.4,4-2.2,6.3-2.1l-3.3,2.6
								C1166.2,163,1164.1,163.7,1162.3,165.1z"
                    />
                  </defs>
                  <clipPath id="SVGID_23_">
                    <use xlink:href="#SVGID_22_" style="overflow: visible" />
                  </clipPath>
                  <g class="st26">
                    <path
                      class="st6"
                      d="M1162.3,165.1l3.3-2.6c1.8-1.4,4-2.2,6.3-2.1l-3.3,2.6C1166.2,163,1164.1,163.7,1162.3,165.1"
                    />
                  </g>
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_24_"
                      class="st4"
                      d="M1168.6,163l3.3-2.6c1.3,0,2.6,0.3,3.9,0.8l-3.3,2.6C1171.2,163.3,1169.8,163,1168.6,163
								z"
                    />
                  </defs>
                  <clipPath id="SVGID_25_">
                    <use xlink:href="#SVGID_24_" style="overflow: visible" />
                  </clipPath>
                  <g class="st27">
                    <path
                      class="st6"
                      d="M1168.6,163l3.3-2.6c1.3,0,2.6,0.3,3.9,0.8l-3.3,2.6C1171.2,163.3,1169.8,163,1168.6,163"
                    />
                  </g>
                </g>
                <g>
                  <polygon
                    class="st28"
                    points="1369,258.2 1372.3,255.6 1373.4,441.2 1370.1,443.8 						"
                  />
                </g>
                <g>
                  <polygon
                    class="st29"
                    points="1172.5,163.8 1175.8,161.2 1352.4,224.7 1349.1,227.2 						"
                  />
                </g>
                <g class="st4">
                  <defs>
                    <path
                      id="SVGID_26_"
                      class="st4"
                      d="M1349.1,227.2l3.3-2.6c10.8,3.9,19.8,17.8,19.9,30.9l-3.3,2.6
								C1369,245.1,1359.9,231.1,1349.1,227.2z"
                    />
                  </defs>
                  <clipPath id="SVGID_27_">
                    <use xlink:href="#SVGID_26_" style="overflow: visible" />
                  </clipPath>
                  <g class="st30">
                    <path
                      class="st6"
                      d="M1349.1,227.2l3.3-2.6c10.8,3.9,19.8,17.8,19.9,30.9l-3.3,2.6C1369,245.1,1359.9,231.1,1349.1,227.2"
                    />
                  </g>
                </g>
                <g>
                  <path
                    class="st22"
                    d="M1168.6,163c1.3,0,2.6,0.3,3.9,0.8l176.6,63.5c10.8,3.9,19.8,17.8,19.9,30.9l1.1,185.6
							c0.1,10.1-5.2,16.2-12.6,16.1c-2.2,0-4.6-0.6-7.1-1.8l-176.7-85.5c-8.8-4.2-15.9-17.2-16-28.8l-1-164.6
							C1156.7,169.4,1161.7,162.9,1168.6,163z"
                  />
                </g>
              </g>
            </g>
          </g>
          <g>
            <linearGradient
              id="SVGID_28_"
              gradientUnits="userSpaceOnUse"
              x1="1217.2632"
              y1="256.2924"
              x2="1299.6729"
              y2="256.2924"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <polyline
              class="st31"
              points="1219.2,232.4 1219.2,247.9 1299,278.4 			"
            />
            <linearGradient
              id="SVGID_29_"
              gradientUnits="userSpaceOnUse"
              x1="1179.7406"
              y1="265.9277"
              x2="1345.3929"
              y2="265.9277"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <path
              class="st32"
              d="M1218.6,217.4c-9.2-3.4-18.3-6.6-27.3-9.9c-2.5-0.9-5.2-2-7.2-4.6c-2.2-2.9-3-7.7-1.7-10.5
				c1.4-3.1,4.8-2.3,7.6-1.3c5.9,2,11.7,4,17.6,5.7c4.8,1.4,9.1,3.4,10.5,10.6c1.5,7.6,0.9,14.6,0.8,21.8c0,0.8,0,1.6,0.2,2.4
				c0.6,2.6,3,2.5,4.5,3.1c2.3,0.9,4.6,1.7,6.9,2.6c6.8,2.5,13.7,5.1,20.6,7.7c17.3,6.4,34.9,13,52.8,19.7c7,2.6,14,5.2,21,7.9
				c3.6,1.3,7.1,2.7,10.7,4c5,1.9,7.7,7.7,7.8,13.4c0.2,9-0.1,18.2-0.1,18.2c-0.1,5-5.1,8.6-7.9,10.8c-4.5,3.5-10,5.3-14.9,7.7
				c-6.2,3-12.3,6.1-18.5,8.9c-5,2.3-9.8,5.9-15.6,6.2c-4.7,0.2-9.7-2.6-14.6-4.7c-9.7-4.1-19.2-8.1-28.7-12.1
				c-5.6-2.4-11.2-4.7-16.7-7c-2.1-0.9-4.6-2.6-6.3-1.4c-1.6,1.1-2.4,4.5-2.7,7c-0.4,3.6,0.4,7.7-0.2,11.2"
            />
            <linearGradient
              id="SVGID_30_"
              gradientUnits="userSpaceOnUse"
              x1="1217.3174"
              y1="277.707"
              x2="1282.7991"
              y2="277.707"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <line class="st33" x1="1218.1" y1="265.2" x2="1282.1" y2="290.3" />
            <linearGradient
              id="SVGID_31_"
              gradientUnits="userSpaceOnUse"
              x1="1217.2378"
              y1="289.7084"
              x2="1264.386"
              y2="289.7084"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <line class="st34" x1="1218" y1="280.6" x2="1263.6" y2="298.9" />
            <linearGradient
              id="SVGID_32_"
              gradientUnits="userSpaceOnUse"
              x1="1217.1517"
              y1="302.4694"
              x2="1244.3624"
              y2="302.4694"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <line class="st35" x1="1217.9" y1="297.2" x2="1243.6" y2="307.7" />
            <linearGradient
              id="SVGID_33_"
              gradientUnits="userSpaceOnUse"
              x1="1230.6393"
              y1="365.7425"
              x2="1261.12"
              y2="365.7425"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <line class="st36" x1="1231.5" y1="359.4" x2="1260.3" y2="372.1" />
            <linearGradient
              id="SVGID_34_"
              gradientUnits="userSpaceOnUse"
              x1="1201.8683"
              y1="353.2545"
              x2="1233.4644"
              y2="353.2545"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <path
              class="st37"
              d="M1231.5,359.4c0,9.9-6.3,15.2-14,11.7c-7.6-3.4-13.6-14.1-13.6-23.9c0-9.8,6.2-15.1,13.8-11.8
				C1225.3,338.7,1231.5,349.4,1231.5,359.4z"
            />
            <linearGradient
              id="SVGID_35_"
              gradientUnits="userSpaceOnUse"
              x1="1258.2949"
              y1="378.6401"
              x2="1291.7338"
              y2="378.6401"
            >
              <stop offset="6.393348e-08" style="stop-color: #faa72c" />
              <stop offset="0.1145" style="stop-color: #f7a431" />
              <stop offset="0.2543" style="stop-color: #f09a40" />
              <stop offset="0.4072" style="stop-color: #e38b59" />
              <stop offset="0.5697" style="stop-color: #d1757b" />
              <stop offset="0.7396" style="stop-color: #ba59a8" />
              <stop offset="0.9132" style="stop-color: #9e37dd" />
              <stop offset="1" style="stop-color: #8f24fb" />
            </linearGradient>
            <path
              class="st38"
              d="M1289.7,385.1c0,10.3-6.7,15.6-14.9,11.9c-8.1-3.7-14.6-14.8-14.5-24.9c0-10.1,6.6-15.5,14.7-12
				C1283.1,363.7,1289.8,374.9,1289.7,385.1z"
            />
          </g>
        </g>
      </g>
      <g id="holograms">
        <g id="lock_rectangle">
          <polyline class="st39" points="273,328 270,350 246,320 246,298 		" />
          <polygon class="st40" points="507,350 270,350 271,328 507,328 		" />
          <polygon class="st3" points="271,328 246,298 487,298 507,328 		" />
        </g>
        <g id="lock" class="animation_300">
          <g>
            <g class="st4">
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_36_"
                    class="st4"
                    d="M404.9,209.8l5.3,2.4c-1.1-0.5-2.3-0.8-3.6-0.8l-5.3-2.4
							C402.6,209.1,403.8,209.3,404.9,209.8z"
                  />
                </defs>
                <clipPath id="SVGID_37_">
                  <use xlink:href="#SVGID_36_" style="overflow: visible" />
                </clipPath>
                <g class="st41">
                  <path
                    class="st42"
                    d="M406.6,211.5l-5.3-2.4c1.3,0,2.5,0.3,3.6,0.8l5.3,2.4C409.1,211.8,407.9,211.5,406.6,211.5"
                  />
                </g>
              </g>
              <g>
                <polygon
                  class="st43"
                  points="404.6,211.5 399.3,209.1 401.3,209.1 406.6,211.5 					"
                />
              </g>
              <g>
                <polygon
                  class="st43"
                  points="400,211.5 394.6,209 399.3,209.1 404.6,211.5 					"
                />
              </g>
              <g>
                <polygon
                  class="st44"
                  points="372.8,264.4 367.4,262 368,248.6 373.3,251 					"
                />
              </g>
              <g>
                <polygon
                  class="st43"
                  points="364,264.4 358.6,262 367.4,262 372.8,264.4 					"
                />
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_38_"
                    class="st4"
                    d="M368.9,227l5.3,2.4c3.9,1.8,6.5,5.9,6.4,10.7c-0.2,5-3.4,9.2-7.7,10.9l-5.3-2.4
							c4.3-1.7,7.5-5.9,7.7-10.9C375.4,232.9,372.8,228.8,368.9,227z"
                  />
                </defs>
                <clipPath id="SVGID_39_">
                  <use xlink:href="#SVGID_38_" style="overflow: visible" />
                </clipPath>
                <g class="st45">
                  <path
                    class="st42"
                    d="M372.9,251.1l-5.3-2.4c4.3-1.7,7.5-5.9,7.7-10.9c0.2-4.8-2.4-8.9-6.4-10.7l5.3,2.4
							c3.9,1.8,6.5,5.9,6.4,10.7C380.4,245.1,377.2,249.4,372.9,251.1"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_40_"
                    class="st4"
                    d="M364.4,250.8l-5.3-2.4c0.2,0.1,0.3,0.1,0.5,0.2l5.3,2.4
							C364.7,251,364.6,250.9,364.4,250.8z"
                  />
                </defs>
                <clipPath id="SVGID_41_">
                  <use xlink:href="#SVGID_40_" style="overflow: visible" />
                </clipPath>
                <g class="st46">
                  <path
                    class="st42"
                    d="M364.4,250.8l-5.3-2.4c0.2,0.1,0.3,0.1,0.5,0.2l5.3,2.4C364.7,251,364.6,250.9,364.4,250.8"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_42_"
                    class="st4"
                    d="M378.5,164.3l5.3,2.4c13.9,6.4,16,26.2,16.1,43.8c0,0.3,0,0.6,0,0.9l-5.3-2.4
							c0-0.3,0-0.6,0-0.9C394.6,190.5,392.4,170.7,378.5,164.3z"
                  />
                </defs>
                <clipPath id="SVGID_43_">
                  <use xlink:href="#SVGID_42_" style="overflow: visible" />
                </clipPath>
                <g class="st47">
                  <path
                    class="st42"
                    d="M400,211.5l-5.3-2.4c0-0.3,0-0.6,0-0.9c-0.1-17.6-2.2-37.4-16.1-43.8l5.3,2.4
							c13.9,6.4,16,26.2,16.1,43.8C400,210.9,400,211.2,400,211.5"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_44_"
                    class="st4"
                    d="M328.8,281.6l-5.3-2.4c-3.7-1.7-6.1-5.5-5.9-10l5.3,2.4
							C322.7,276.1,325.1,280,328.8,281.6z"
                  />
                </defs>
                <clipPath id="SVGID_45_">
                  <use xlink:href="#SVGID_44_" style="overflow: visible" />
                </clipPath>
                <g class="st48">
                  <path
                    class="st42"
                    d="M328.8,281.6l-5.3-2.4c-3.7-1.7-6.1-5.5-5.9-10l5.3,2.4C322.7,276.1,325.1,280,328.8,281.6"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_46_"
                    class="st4"
                    d="M380.6,159.9l5.3,2.4c-3.5-1.6-7.6-2.5-12.5-2.5l-5.3-2.4
							C373,157.4,377.1,158.3,380.6,159.9z"
                  />
                </defs>
                <clipPath id="SVGID_47_">
                  <use xlink:href="#SVGID_46_" style="overflow: visible" />
                </clipPath>
                <g class="st49">
                  <path
                    class="st42"
                    d="M373.5,159.9l-5.3-2.4c4.9,0,9,0.9,12.5,2.5l5.3,2.4C382.5,160.8,378.3,159.9,373.5,159.9"
                  />
                </g>
              </g>
              <g>
                <polygon
                  class="st43"
                  points="340.8,211.4 335.5,209 394.6,209 400,211.5 					"
                />
              </g>
              <g>
                <polygon
                  class="st43"
                  points="336.2,211.4 330.8,209 335.5,209 340.8,211.4 					"
                />
              </g>
              <g>
                <polygon
                  class="st43"
                  points="332.2,211.4 326.9,209 330.8,209 336.2,211.4 					"
                />
              </g>
              <g>
                <polygon
                  class="st44"
                  points="322.8,271.7 317.5,269.2 319.6,216.3 324.9,218.8 					"
                />
              </g>
              <g>
                <path
                  class="st50"
                  d="M406.6,211.5c5,0,8.9,4.2,8.7,9.4l-2.1,52.8c-0.2,4.9-4.2,8.8-8.9,8.9l-71.5-0.1
						c-5.8,0-10.3-4.9-10.1-10.9l2.1-52.9c0.2-4.1,3.4-7.3,7.3-7.4l3.9,0l4.7,0l59.1,0.1l4.6,0L406.6,211.5z M372.9,251.1
						c4.3-1.7,7.5-5.9,7.7-10.9c0.3-6.5-4.6-11.7-10.9-11.7c-0.4,0-0.7,0-1.1,0.1c-5.1,0.5-9.5,4.8-10.3,10
						c-0.9,5.6,2.1,10.6,6.7,12.4l-0.4,0l-0.5,13.4l8.8,0l0.5-13.4L372.9,251.1"
                />
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_48_"
                    class="st4"
                    d="M324.9,218.8l-5.3-2.4c0.2-4.1,3.4-7.3,7.3-7.4l5.3,2.4
							C328.3,211.5,325.1,214.7,324.9,218.8z"
                  />
                </defs>
                <clipPath id="SVGID_49_">
                  <use xlink:href="#SVGID_48_" style="overflow: visible" />
                </clipPath>
                <g class="st51">
                  <path
                    class="st42"
                    d="M324.9,218.8l-5.3-2.4c0.2-4.1,3.4-7.3,7.3-7.4l5.3,2.4C328.3,211.5,325.1,214.7,324.9,218.8"
                  />
                </g>
              </g>
              <g>
                <path
                  class="st50"
                  d="M373.5,159.9c30.9,0,31.1,36.7,31.2,50.5c0,0.4,0,0.7,0,1.1l-4.6,0c0-0.3,0-0.6,0-0.9
						c-0.1-21.4-3.2-45.9-26.7-45.9c-0.1,0-0.2,0-0.3,0c-26.4,0.3-30,29.2-31.7,43.2c-0.2,1.4-0.3,2.6-0.5,3.6l-4.7,0
						c0.2-1.1,0.4-2.6,0.5-4c1.7-14.2,5.8-47.3,36.4-47.6C373.2,159.9,373.3,159.9,373.5,159.9z"
                />
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_50_"
                    class="st4"
                    d="M336.2,211.4l-5.3-2.4c0.2-1.1,0.4-2.6,0.5-4c1.7-14.2,5.8-47.3,36.4-47.6
							c0.1,0,0.2,0,0.4,0l5.3,2.4c-0.1,0-0.3,0-0.4,0c-30.6,0.3-34.7,33.4-36.4,47.6C336.5,208.8,336.3,210.3,336.2,211.4z"
                  />
                </defs>
                <clipPath id="SVGID_51_">
                  <use xlink:href="#SVGID_50_" style="overflow: visible" />
                </clipPath>
                <g class="st52">
                  <path
                    class="st42"
                    d="M336.2,211.4l-5.3-2.4c0.2-1.1,0.4-2.6,0.5-4c1.7-14.2,5.8-47.3,36.4-47.6c0.1,0,0.2,0,0.4,0l5.3,2.4
							c-0.1,0-0.3,0-0.4,0c-30.6,0.3-34.7,33.4-36.4,47.6C336.5,208.8,336.3,210.3,336.2,211.4"
                  />
                </g>
              </g>
            </g>
          </g>
        </g>
        <g id="lock_rectangle_1_">
          <polyline class="st39" points="37,437 31,466 0,428 0,398.2 		" />
          <polygon
            class="st40"
            points="339,465.8 31,466 32.5,437.2 339,437.2 		"
          />
          <polygon
            class="st3"
            points="32.5,437.2 0,398.2 313,398.2 339,437.2 		"
          />
        </g>
        <g id="bucket_2_" class="animation_500">
          <linearGradient
            id="dolen_del_1_"
            gradientUnits="userSpaceOnUse"
            x1="84.8004"
            y1="336.7181"
            x2="198.7204"
            y2="336.7181"
            gradientTransform="matrix(0.9999 1.065737e-02 -1.065737e-02 0.9999 2.6215 -7.9888)"
          >
            <stop offset="1.331947e-07" style="stop-color: #545454" />
            <stop offset="0.2382" style="stop-color: #414141" />
            <stop offset="0.3128" style="stop-color: #3a3a3a" />
            <stop offset="0.4468" style="stop-color: #404040" />
            <stop offset="0.6279" style="stop-color: #515151" />
            <stop offset="0.6665" style="stop-color: #565656" />
            <stop offset="0.8832" style="stop-color: #414141" />
            <stop offset="1" style="stop-color: #333333" />
          </linearGradient>
          <path
            id="dolen_del_2_"
            class="st53"
            d="M87.4,315.2c0,0,48.8-40.5,48.8-40.6c-1.7,1.4-2.5,5.9-2.9,7.9
			c-3.2,13.8,4.4,28.9,13,39.6c12.1,15,31.1,26.1,51.2,23.8c-1.3,0.1-3.9,3-5,3.8c-1.8,1.4-3.6,2.7-5.3,4.1
			c-3.6,2.7-7.1,5.5-10.7,8.2c-8.5,6.5-16.5,14-25.3,20c-4.8,3.3-8.3,3.5-14,3.6c-6.9,0.1-12.5-1.5-18.4-4.8
			c-10.8-5.9-20-14.5-26.5-24.8c-6.5-10.2-10.1-21.3-7.8-33.3C85,320.4,85.4,316.9,87.4,315.2z"
          />

          <linearGradient
            id="goren_del_1_"
            gradientUnits="userSpaceOnUse"
            x1="146.4529"
            y1="328.4123"
            x2="199.4276"
            y2="295.2435"
            gradientTransform="matrix(0.9999 1.065737e-02 -1.065737e-02 0.9999 2.6215 -7.9888)"
          >
            <stop offset="1.331947e-07" style="stop-color: #545454" />
            <stop offset="0.2382" style="stop-color: #414141" />
            <stop offset="0.3128" style="stop-color: #3a3a3a" />
            <stop offset="0.4468" style="stop-color: #404040" />
            <stop offset="0.6279" style="stop-color: #515151" />
            <stop offset="0.6665" style="stop-color: #565656" />
            <stop offset="0.8832" style="stop-color: #414141" />
            <stop offset="1" style="stop-color: #333333" />
          </linearGradient>
          <path
            id="goren_del_2_"
            class="st54"
            d="M136.5,274c-3.6,8.2-5,17.8-2.2,26.4c2.5,7.8,7.1,15.4,12.4,21.7
			c5.2,6.3,11.5,11.7,18.6,15.9c3.4,2,6.9,3.8,10.5,5.2c10,3.9,22.3,5.6,30.6-2.6c10.4-10.2,5.5-26.9,0-38.3
			c-3.7-7.7-8.8-14.8-15.2-20.7c-5.1-4.7-10.9-8.7-17.2-11.8c-6.2-3-13.2-5.8-20.3-5.7C146.6,264.3,139.5,267.5,136.5,274
			c-0.1,0.2-0.2,0.4-0.3,0.6"
          />
          <path
            id="linija_2_"
            class="st55"
            d="M147.1,271.5c0,0-15.3,11.9-4.2,33.2c0,0,12.6,30.5,38.3,35.1c0,0,16.5,3.5,20.2-6.1"
          />

          <linearGradient
            id="paint_1_"
            gradientUnits="userSpaceOnUse"
            x1="139.6328"
            y1="318.118"
            x2="240.7587"
            y2="318.118"
            gradientTransform="matrix(0.9999 1.065737e-02 -1.065737e-02 0.9999 2.6215 -7.9888)"
          >
            <stop offset="4.741732e-07" style="stop-color: #faa72c" />
            <stop offset="0.1031" style="stop-color: #f4a038" />
            <stop offset="0.2888" style="stop-color: #e48c57" />
            <stop offset="0.5356" style="stop-color: #c96b8a" />
            <stop offset="0.8308" style="stop-color: #a53fd0" />
            <stop offset="1" style="stop-color: #8f24fb" />
          </linearGradient>
          <path
            id="paint_2_"
            class="st56"
            d="M181.2,339.8c4.1,1.4,8.6,0.9,12.5-0.8c3.3-1.4,6.2-3.7,8.6-6.3c2.6-2.9,7.7-8.4,11.3-3.4
			c0.5,0.7,0.8,1.4,1.1,2.2c3.1,6.2,10.4,8.5,16.9,9.8c8.7,1.6,9.4-8.9,6.6-14.4c-2-3.9-5.5-7-9.4-9.2c-2.8-1.6-5.8-2.7-8.8-3.8
			c-4.8-1.7-9.9-2-14.9-3.2c-5-1.2-9.9-2.9-14.5-5.3c-6.6-3.4-11.5-8.2-17.2-12.7c-2.7-2.2-5.4-3.6-8.5-5c-2.7-1.3-5.4-2.3-8.3-3.1
			c-5.6-1.5-11.7-2.2-17.3-0.5C139.6,284,131.5,322.8,181.2,339.8z"
          />
          <path
            id="krug_1_"
            class="st55"
            d="M126.8,308.6c0,0,9-2.4,9.4,6.5c0,0-0.6,11.8-11,3.6L126.8,308.6z"
          />

          <linearGradient
            id="racka_1_"
            gradientUnits="userSpaceOnUse"
            x1="124.0133"
            y1="304.4363"
            x2="202.2875"
            y2="255.4268"
            gradientTransform="matrix(0.9999 1.065737e-02 -1.065737e-02 0.9999 2.6215 -7.9888)"
          >
            <stop offset="1.331947e-07" style="stop-color: #545454" />
            <stop offset="0.2382" style="stop-color: #414141" />
            <stop offset="0.3128" style="stop-color: #3a3a3a" />
            <stop offset="0.4468" style="stop-color: #404040" />
            <stop offset="0.6279" style="stop-color: #515151" />
            <stop offset="0.6665" style="stop-color: #565656" />
            <stop offset="0.8832" style="stop-color: #414141" />
            <stop offset="1" style="stop-color: #333333" />
          </linearGradient>
          <path
            id="racka_2_"
            class="st57"
            d="M129.6,313.7c-0.1-0.8-0.3-1.6-0.6-2.4c-1.8-4.6-5.1-7.9-6.4-12.7c-1.5-5.3-3.1-10.1-3.2-15.7
			c-0.4-11.5,3-26.1,13.3-32.8c12.9-8.4,28.7-1.1,39.2,7.4c7,5.7,13.2,12.3,18.6,19.4c2.7,3.7,5,7.6,7.5,11.5c2,3.1,4.6,6.3,6.9,9.2
			c-2.7-12-8.5-23.3-16.3-33c-7.5-9.3-18.2-19.6-30.5-22.3c-8.9-1.9-18.1-2.9-26.6,1.1c-14.7,6.8-20.3,27.6-19.5,42.1
			c0.7,13.1,6.4,25.8,15.7,35.2C129.4,319,129.9,316.3,129.6,313.7z"
          />
        </g>
        <g id="cloud_rectangle">
          <polygon
            class="st39"
            points="445,608 439,617 404,568 404,544 443,576 		"
          />
          <rect x="439" y="590" class="st40" width="325" height="27" />
          <polygon class="st3" points="764,590 728,544 404,544 439,590 		" />
        </g>
        <g id="cloud_4_" class="animation_100">
          <g>
            <g class="st4">
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_52_"
                    class="st4"
                    d="M616.2,401.6l12.6,1.1c-1.7-0.1-3.4-0.2-5.1-0.2l-12.6-1.1
							C612.8,401.4,614.5,401.4,616.2,401.6z"
                  />
                </defs>
                <clipPath id="SVGID_53_">
                  <use xlink:href="#SVGID_52_" style="overflow: visible" />
                </clipPath>
                <g class="st58">
                  <path
                    class="st59"
                    d="M623.7,402.5l-12.6-1.1c1.7,0,3.4,0,5.1,0.2l12.6,1.1C627.1,402.5,625.4,402.4,623.7,402.5"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_54_"
                    class="st4"
                    d="M578.9,429.1l-12.6-1.1c0.5,0,1,0.1,1.5,0.1c0.9,0,1.7-0.2,2.4-0.6
							c0.9-0.5,1.5-1.4,2.1-2.3c3.8-5.8,6.9-11,12.4-15.2c7.6-5.7,16.9-8.4,26.3-8.6l12.6,1.1c-9.4,0.2-18.7,3-26.3,8.6
							c-5.6,4.2-8.6,9.4-12.4,15.2c-0.6,0.9-1.2,1.8-2.1,2.3c-0.7,0.4-1.6,0.6-2.4,0.6C579.9,429.2,579.4,429.1,578.9,429.1z"
                  />
                </defs>
                <clipPath id="SVGID_55_">
                  <use xlink:href="#SVGID_54_" style="overflow: visible" />
                </clipPath>
                <g class="st60">
                  <path
                    class="st59"
                    d="M578.9,429.1l-12.6-1.1c0.5,0,1,0.1,1.5,0.1c0.9,0,1.7-0.2,2.4-0.6c0.9-0.5,1.5-1.4,2.1-2.3
							c3.8-5.8,6.9-11,12.4-15.2c7.6-5.7,16.9-8.4,26.3-8.6l12.6,1.1c-9.4,0.2-18.7,3-26.3,8.6c-5.6,4.2-8.6,9.4-12.4,15.2
							c-0.6,0.9-1.2,1.8-2.1,2.3c-0.7,0.4-1.6,0.6-2.4,0.6C579.9,429.2,579.4,429.1,578.9,429.1"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_56_"
                    class="st4"
                    d="M564.4,427.9l12.6,1.1c-0.5,0-1.1-0.1-1.7-0.1l-12.6-1.1
							C563.3,427.8,563.9,427.8,564.4,427.9z"
                  />
                </defs>
                <clipPath id="SVGID_57_">
                  <use xlink:href="#SVGID_56_" style="overflow: visible" />
                </clipPath>
                <g class="st61">
                  <path
                    class="st59"
                    d="M575.3,428.9l-12.6-1.1c0.6,0,1.2,0,1.7,0.1l12.6,1.1C576.5,428.9,575.9,428.8,575.3,428.9"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_58_"
                    class="st4"
                    d="M533,463.4l-12.6-1.1c0,0,4-11.1,4.4-11.8c4.4-8.2,11.3-15,19.9-18.8
							c3.6-1.6,7.4-2.7,11.3-3.3c2.2-0.4,4.5-0.5,6.7-0.7l12.6,1.1c-2.2,0.1-4.5,0.3-6.7,0.7c-3.9,0.6-7.7,1.7-11.3,3.3
							c-8.6,3.8-15.5,10.6-19.9,18.8C537,452.4,533,463.4,533,463.4z"
                  />
                </defs>
                <clipPath id="SVGID_59_">
                  <use xlink:href="#SVGID_58_" style="overflow: visible" />
                </clipPath>
                <g class="st62">
                  <path
                    class="st59"
                    d="M533,463.4l-12.6-1.1c0,0,4-11.1,4.4-11.8c4.4-8.2,11.3-15,19.9-18.8c3.6-1.6,7.4-2.7,11.3-3.3
							c2.2-0.4,4.5-0.5,6.7-0.7l12.6,1.1c-2.2,0.1-4.5,0.3-6.7,0.7c-3.9,0.6-7.7,1.7-11.3,3.3c-8.6,3.8-15.5,10.6-19.9,18.8
							C537,452.4,533,463.4,533,463.4"
                  />
                </g>
              </g>
              <g class="st4">
                <defs>
                  <path
                    id="SVGID_60_"
                    class="st4"
                    d="M523.8,525.5l-12.6-1.1c-1.4-0.1-2.8-0.4-4.2-0.8c-9.8-3-18.1-11.2-20.7-21.1
							c-2.7-10.4,0.8-22,8.4-29.6c6.3-6.4,16.9-9.8,25.7-10.5l12.6,1.1c-8.8,0.7-19.4,4.1-25.7,10.5c-7.6,7.6-11.1,19.3-8.4,29.6
							c2.6,10,10.9,18.1,20.7,21.1C521.1,525.1,522.4,525.4,523.8,525.5z"
                  />
                </defs>
                <clipPath id="SVGID_61_">
                  <use xlink:href="#SVGID_60_" style="overflow: visible" />
                </clipPath>
                <g class="st63">
                  <path
                    class="st59"
                    d="M523.8,525.5l-12.6-1.1c-0.2,0-0.4,0-0.6-0.1l12.6,1.1C523.5,525.5,523.6,525.5,523.8,525.5"
                  />
                  <path
                    class="st64"
                    d="M523.3,525.4l-12.6-1.1c-1.2-0.1-2.4-0.4-3.6-0.8c-2.3-0.7-4.5-1.7-6.6-3l12.6,1.1
							c2.1,1.2,4.3,2.2,6.6,3C520.9,525.1,522.1,525.3,523.3,525.4"
                  />
                  <path
                    class="st65"
                    d="M513,521.7l-12.6-1.1c-6.8-4-12.1-10.6-14.1-18.2c-0.5-1.9-0.8-3.8-0.9-5.7l12.6,1.1
							c0.1,1.9,0.4,3.8,0.9,5.7C500.9,511.2,506.2,517.7,513,521.7"
                  />
                  <path
                    class="st64"
                    d="M498,497.8l-12.6-1.1c-0.2-3.9,0.4-7.9,1.6-11.6l12.6,1.1C498.4,490,497.8,493.9,498,497.8"
                  />
                  <path
                    class="st59"
                    d="M499.7,486.3l-12.6-1.1c1.6-4.6,4.2-8.9,7.6-12.3c6.3-6.4,16.9-9.8,25.7-10.5l12.6,1.1
							c-8.8,0.7-19.4,4.1-25.7,10.5C503.8,477.4,501.2,481.6,499.7,486.3"
                  />
                </g>
              </g>
              <g>
                <path
                  class="st66"
                  d="M623.7,402.5c7.1-0.1,14.3,1.3,20.8,4.1c15.5,6.7,27.8,22.6,30.7,39.2c1.7,0.1,35,2.9,36,39.2
						c0.4,13.7-5.1,23.9-15.7,32.2c-6,4.7-14.5,6.1-22,7c-5.6,0.7-11.3,1-17,1.1c-3,0.1-6,0.1-9,0.1c-40.5,0.2-81,0.2-121.5,0.2
						c-2.2,0-4.2-0.2-6.4-0.9c-9.8-3-18.1-11.2-20.7-21.1c-2.7-10.4,0.8-22,8.4-29.6c6.3-6.4,16.9-9.8,25.7-10.5
						c0,0,4-11.1,4.4-11.8c4.4-8.2,11.3-15,19.9-18.8c3.6-1.6,7.4-2.7,11.3-3.3c2.2-0.4,4.5-0.5,6.7-0.7c1,0,1.8,0.1,2.6,0.2
						c0.8,0.1,1.6,0.2,2.4,0.2c0.9,0,1.7-0.2,2.4-0.6c0.9-0.5,1.5-1.4,2.1-2.3c3.8-5.8,6.9-11,12.4-15.2
						C605,405.4,614.3,402.6,623.7,402.5z"
                />
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>

<%- include('partials/footer.ejs') %>
