<%- include('partials/header.ejs') %> <%- include('partials/navigation.ejs') %>

<div class="wrapper">
  <h1 class="heading gradient-text">Projects</h1>

  <div class="grid-area">
    <img src="Images/portfolio/1.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/2.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/3.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/4.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/5.jpg" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/6.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/7.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/8.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/9.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/10.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/11.png" alt="" class="grid-img fade-in" />
    <img src="Images/portfolio/12.png" alt="" class="grid-img fade-in" />
  </div>
</div>

<%- include('partials/main-footer.ejs') %> <%- include('partials/footer.ejs') %>
