<%- include('partials/header.ejs') %> <%- include('partials/navigation.ejs') %>

<div class="wrapper">
  <h1 class="heading gradient-text fade-in">Terms Of Use</h1>

  <div class="terms">
    <section class="term fade-in" id="agreement-to-terms">
      <h2 class="sub-heading">Agreement to Terms of Use</h2>
      <p class="font-300">
        These terms of use apply to the Strax Designs website (<a href="/"
          >www.straxdesigns.com</a
        >), and all associated site links to the Website (<a href="/"
          >www.straxdesigns.com</a
        >). By using the Website, you agree to these terms, otherwise do not use
        the Website. <br />Strax Designs can change, modify, add or remove
        sections of these Terms, without informing you. You are responsible to
        check them periodically.
      </p>
    </section>
    <section class="term fade-in" id="privacy-and-data">
      <h2 class="sub-heading">Privacy and Data Protection</h2>
      <p class="font-300">
        This Website does NOT use cookies. <br />We do NOT collect any data
        other than Name and Email (Order a Project). These informations are not
        stored anywhere on the website. <br />You will NOT receive any
        Notifications by <a href="/">www.straxdesigns.com</a>.
      </p>
    </section>
    <section class="term fade-in" id="content">
      <h2 class="sub-heading">Content</h2>
      <p class="font-300">
        All text, illustrations, photos, logos and computer code ("Content")
        contained on the Website is owned by Strax Designs. <br />No part of the
        Website and Content may be copied, reproduced, republished, uploaded,
        posted, publicly displayed, encoded, transmitted or distributed in any
        way to any other computer, server, website or other medium for
        publication or distribution for any commercial enterprise, without OUR
        prior written consent.
      </p>
    </section>
    <section class="term fade-in" id="products-and-services">
      <h2 class="sub-heading">Products and Services</h2>
      <p class="font-300">
        Strax Designs can make changes to any products or services offered on
        this Website, including prices for the products and services. WE are NOT
        responsible to inform you. <br />After receiving your ordered project,
        Strax Designs is no more accountable if:
      </p>
      <ul class="font-300">
        <li>the product gets copied,</li>
        <li>the product is taken down for any reason,</li>
        <li>the product is not getting the success that you expected,</li>
        <li>the product gets hacked,</li>
        <li>
          the product is experiencing malfunction (after 30 days from receiving
          the product).
        </li>
      </ul>
      <p class="font-300 fade-in">
        If experiencing malfunction with the product in the first 30 days after
        receiving the product you should contact us (info@straxdesigns.com) and
        you will be charged no additional fees for the fix. <br />Strax Designs
        will NOT publish, upload or post your purchased products on this website
        or social media (Instagram: strax_designs; Facebook: Strax Designs),
        unless you agree.
      </p>
    </section>
    <section class="term fade-in" id="payment">
      <h2 class="sub-heading">Payment</h2>
      <p class="font-300">
        The transactions for the products or services are done using Payoneer.
        Strax Designs does NOT collect any information like card number,
        cardholder name, CVV code or any other card information. For all payment
        methods and more information
        <a
          href="https://www.payoneer.com/solutions/send-payment-request/"
          target="_blank"
          >click here</a
        >. We do NOT pay for the fees for using Payoneer. <br />If the price of
        the product/s is bigger than 100&euro; then the payment is split in two
        milestones:
      </p>
      <ul class="font-300">
        <li>
          50% of the price is payed before the project begins (if you are happy
          with the design),
        </li>
        <li>
          50% of the price is payed after the project is finished, BEFORE you
          receive it.
        </li>
      </ul>
      <p class="font-300">
        We guarantee you will not be scammed. <br />We are NOT accountable if
        there are problems with Payoneer. <br />THERE ARE NO REFUNDS!
      </p>
    </section>
    <section class="term fade-in" id="disclaimers">
      <h2 class="sub-heading">Disclaimers</h2>
      <p class="font-300">
        Strax Designs does NOT promise that the Website or any content, service
        or feature of the Website will be error-free or uninterrupted. All
        information provided on the Website is subject to change without notice.
        You assume total responsibility for your use of the website and any
        linked sites. <br />Strax Designs reserves the rights:
      </p>
      <ul class="font-300">
        <li>
          to modify, suspend or terminate operation of or access to the Website,
          or any portion of the Website, at any time for any reason;
        </li>
        <li>
          to modify or change the Website, or any portion of the Website, at any
          time;
        </li>
        <li>
          to interrupt the operation of the Website, or any portion of the
          Website, at any time for any reason.
        </li>
      </ul>
    </section>
    <p class="font-300 fade-in">
      2022 &copy; Strax Designs. All rights reserved. <br />Last updated on
      21/01/2022.
    </p>
  </div>
</div>

<%- include('partials/main-footer.ejs') %> <%- include('partials/footer.ejs') %>
